@model IEnumerable<NR155910155992.MemoGame.WebUI.Models.CardItem>

@{
    ViewData["Title"] = "CardItem";
}

<h1>Card Library</h1>

<div class="create-container">
	<partial name="_CreateCardItemPartial" />
</div>

<div class="card-container" >
    @foreach (var item in Model)
    {
        <div class="card-item">
            <img src="@Url.Action("GetImage", "CardItems", new { id = item.Id })" 
                 alt="Card @item.Name Image" 
                 loading="lazy" />
            <div class="card-details">
                <h2>@item.Name</h2>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                    <button type="submit" onclick="return confirm('Are you sure you want to delete card @item.Name?');">Delete</button>
                </form>
            </div>
        </div>
    }
</div>
