@model IEnumerable<NR155910155992.MemoGame.WebUI.Models.UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <form asp-action="Select" asp-route-id="@item.Id" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-primary" >Select</button>
                </form> 
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete user @item.UserName?');">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
