@model NR155910155992.MemoGame.WebUI.Models.GameSession

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GameSession</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameMode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameMode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
