@model IEnumerable<NR155910155992.MemoGame.WebUI.Models.GameSessionModel>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.GameDateString)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DurationString)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.GameType)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.GameMode)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PlayersString)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.WinnerString)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CardsUncovered)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.GameDateString)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DurationString)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.GameType)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.GameMode)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PlayersString)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.WinnerString)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CardsUncovered)
				</td>
			</tr>
		}
	</tbody>
</table>
